body{
margin:0px;
}
#header{
background:#A3A380;
width:715px;
height:100px;
}
#menu{
background:#EFEBCE;
width:190px;
height:300px;
}
#content{
background:#EFEBCE;
width:525px;
height:300px;
position:absolute;
left:190px;
top:100px;
}
#footer{
background:#A3A380;
width:715px;
height:30px;
}
#news{
background:#D6CE93;
width:150px;
height:280px;
position:absolute;
left:365px;
top:10px;
}
