#blok1{
color: #8D6A9F;
background: #C5CBD3;
border:1px solid #8CBCB9;
width:150px;
height:50px;
float:right;
}
#blok2{
color: #061A40;
background: #B9D6F2;
border:1px solid #0353A4;
width:150px;
height:50px;
float:right;
clear:right;
}
 
